body {
	margin: 0;
	background-color: lightgray;
}

.dfr_page {
	display: grid;
	background-color: lightgray;
	grid-template-columns: auto auto auto;
	grid-gap: 1em;
	padding: 8px 8px 8px 8px;
}

.header {
	grid-column: 1 / 4;
	background-color: white;
	color: black;
	padding: 2em 0 2em 0;
	border: mediumblue solid 0.25em;
	text-align: center;
}

.navbar a {
	text-decoration: none;
	color: black;
}

#project_title {
	margin: 0em 0em 1em 0.5em;
	font-size: 2.25em;
	font-family: Verdana, sans-serif;
}

#project_statement {
	margin: 0 0 0em .75em;
	font-family: Alegraya, sans-serif;
	font-size: 1.75em;
}

.navbar {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: mediumblue solid 0.25em;
}

.navbutton {
	padding: 1.25em 2.5em 1.25em 2.5em;
	margin: 0.5em 0 0.5em 0;
	font-size: 1.25em;
	background-color: white;
	border: none;
	cursor: pointer;
}

#top_return {
	padding: 1.25em 2.5em 1.25em 2.5em;
	margin: auto 0 1em 0;
	font-size: 1.25em;
	background-color: white;
	border: none;
	cursor: pointer;
}

.page_content {
	grid-column: 2 / 4;
	background-color: lightcyan;
	padding: 0 1.25em 0 1.25em;
}

.page_content > p {
	line-height: 1.5em;
	font-family: Arial;
}

h1 {
	font-family: Georgia;	
}

i {
	margin-right: 0.5em;
	cursor: pointer;
}

#background {
	font-size: 1.25em;
	text-indent: 40px;
}

#process {
	font-size: 1.25em;
}

.process_points {
	font-size: 1.25em;
	text-indent: 40px;
}

.navbar a {
	font-style: italic;
}

p a {
	font-style: italic;
}

.screenshot {
	width: 600px;
	height: 500px;
	margin-right: 0.75em;
	margin-bottom: 1em;
}

#evalDFRtools {
	font-size: 1.25em;
}

.test_cases {
	font-size: 1.25em;
	text-indent: 40px;
}

.test_case {
	margin-bottom: 1.5em;
	width: 850px;
	height: 500px;
}

#test_case_example {
	width: 800px;
	height: 300px;
	margin-bottom: 0;
	cursor: pointer;
}

.download_link {
	font-size: 1.25em;
	font-style: italic;
}

#results {
	font-size: 1.25em;
	text-indent: 40px;
}

#example_images {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.result_image {
	width: 250px;
	height: 450px;
}

#results_link {
	font-size: 1.25em;
}

#conclusion {
	font-size: 1.25em;
	text-indent: 40px;
}