body {
	margin: 0;
}

.dfr_page {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 1em;
	background-color: lightgray;
	padding: 8px 8px 8px 8px;
}

.header {
	grid-column: 1 / 4;
	background-color: white;
	color: black;
	padding: 2em 0 2em 0;
	border: mediumblue solid 0.25em;
}

.navbar a {
	text-decoration: none;
	color: black;
}

#project_title {
	margin: 0em 0em 1em 0.5em;
	font-size: 2.25em;
	font-family: Georgia;
}

#project_statement {
	margin: 0 0 0em .75em;
	font-family: Courier New;
	font-size: 1.75em;
}

.navbar {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: mediumblue solid 0.25em;
}

.navbutton {
	padding: 1.25em 2.5em 1.25em 2.5em;
	margin: 0.5em 0 0.5em 0;
	font-size: 1.25em;
	background-color: white;
	border: none;
}

.page_content {
	grid-column: 2 / 4;
	background-color: lightcyan;
	padding: 0 1.25em 0 1.25em;
}

.page_content > p {
	line-height: 1.5em;
	font-family: Arial;
}

h1 {
	font-family: Georgia;	
}

#background {
	font-size: 1.25em;
	text-indent: 40px;
}

#process {
	font-size: 1.25em;
}

.process_points {
	font-size: 1.25em;
	text-indent: 40px;
}

#pp2a {
	font-size: 1.25em;
	text-indent: 80px;
}

#evalDFRtools {
	font-size: 1.25em;
}

#test_cases {
	font-size: 1.25em;
	text-indent: 40px;
}

.test_case {
	margin-bottom: 2em;
}

#test_case_example {
	width: 800px;
	height: 200px;
	margin-bottom: 0;
}

.download_link {
	font-size: 1.25em;
	font-style: italic;
}

#results {
	font-size: 1.25em;
	text-indent: 40px;
}

#conclusion {
	font-size: 1.25em;
	text-indent: 40px;
}