body {
	background-color: lightcyan;
}

.testResultsPage {
	display: grid;
	grid-template-columns: auto;
	
}

h1 {
	text-align: center;
}

.results_images {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 1em;
}

.image {
	width: 250px;
	height: 400px;
}

.navbutton {
	padding: 0.5em 2em 0.5em 2em;
	font-size: 1.25em;
	background-color: white;
	border: 0.25em mediumblue solid;
	cursor: pointer;
}

a {
	text-decoration: none;
	padding-left: 0.25em;
}