body {
	background-color: lightcyan;
}

.testCasePage {
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
}

.testCaseImage {
	height: 300px;
	width: 800px;
}

.download_link {
	font-size: 1.25em;
	font-style: italic;
	font-family: Arial;
}

#results {
	border: 2px solid black;
	font-size: 1.25em;
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 0.75em;
	text-align: center;
	border: 2px solid black;
}

.oddRow {
	background-color: powderblue;
}

.evenRow {
	background-color: cornsilk;
}